.title {
    font-weight: bold;
    font-size: 30px;
    &__service {
        margin-bottom: 59px;
    }
    &__programs {
        text-align: center;
        margin-bottom: 26px;
        @media (max-width: 767px) {
            text-align: left;
        }
    }
}
.subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.4;
    &__requirements {
        margin-bottom: 33px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}