.title {
    font-weight: bold;
    font-size: 30px;
    &__service {
        margin-bottom: 59px;
    }
    &__programs {
        text-align: center;
        margin-bottom: 26px;
    }
}
.subtitle {
    font-weight: bold;
    font-size: 22px;
    &__types {
        margin-bottom: 12px;
    }
    &__requirements {
        margin-bottom: 33px;
    }
    &__service {
        margin: 0 0 0 41px;
    }
}