.conditions {
    position: relative;
    min-height: 649px;
    background: #FFF6EC;
    z-index: -2;
    &::after {
        position: relative;
        min-height: 649px;
        background: rgba(236, 236, 236, 0.15);
        width: 50%;
        z-index: 10;
    }
    &__img {
        margin: 0 0 5px 5px;
    }
    &__item {
        font-size: 18px;
        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 7px;
            background: #FFBB0D;
            border-radius: 3px;
        }
        span {
            font-weight: bold;
            font-size: 22px;
        }
    }
}