.registry {
  min-height: 827px;
  padding: 75px 0 84px 0;
}
table {
  border-collapse: collapse;
}
tr {
  border: 1px solid#E5E5E5;
}
td {
  border: 1px solid #E5E5E5;
}
.arc-pdf-table {
  counter-reset: tr;
  position: relative;
  padding: 55px 0 48px 0;
}
.arc-pdf-table table tr {
  counter-increment: tr;
}
.arc-pdf-table table td:first-child::before {
  content: counter(tr);
  font-size: 12px;
}
.arc-pdf-table table td:first-child {
  width: auto;
  min-width: 0;
  color: #9E9E9E;
}
.arc-pdf-table table td {
  padding: 7px 15px;
  font-size: 12px ;
  color: #5D6162;
}
.arc-pdf-table table td:last-child > div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}
.arc-pdf-table table td > div {
  font-size: 12px;
}
.arc-pdf-table table td > div:last-child span {
  display: inline-block;
  color: #9E9E9E;
  font-size: 11px;
  margin-right: 30px;
}
