.stages {
    padding: 60px 0 75px 0;
    &__stage {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            background: #224291; 
            top: 54px;
            bottom: 5px;
            left: 17px;
            @media (max-width: 767px) {
                left: 12px;
                top: 42px;
                bottom: -7px;
            } 
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &__toggle {
        position: absolute;
        color: #BCBCBC;
        font-size: 16px;
        font-weight: normal;
        top: 35px;
        right: 40px;
        transition: all .2s linear;
        @media(max-width: 1199px) {
            display: block;
            width: 12px;
            height: 12px;
            top: 10px;
            right: 0px;
            border: 2px solid #bcbcbc;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
    }
    .active .service__toggle {
        @media(max-width: 1199px) {
            transform: rotate(135deg) translate(5px, -10px);
        }
    } 
    .accordion {
        padding: 10px 55px;
        position: relative;
        cursor: default;
        @media (max-width: 767px) {
            padding-left: 35px;
            cursor: pointer;
        }
        @media (max-width: 575px) {
            padding: 10px 25px 12px 35px;
        }
    }
    .panel {
        position: relative;
        @media (min-width: 768px) {
            max-height: none !important;
        } 
    }
    &__number {
        position: absolute;
        left: 0;
        top: 7px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        background: #224291;
        border-radius: 100%;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin-right: 24px;   
        @media (max-width: 767px) {
            width: 24px;
            height: 24px;
            font-size: 12px;
            top: 12px;
        } 
    }
    &__descr {
        margin-bottom: 52px;
    }
    a {
        text-decoration: underline;
        color: #3289F0;
    }
    &__item {
        padding-left: 55px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
            padding-left: 35px;
        } 
    }
}