.stages {
    padding: 60px 0 75px 0;
    &__stage {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            background: #224291; 
            top: 50px;
            bottom: 5px;
            left: 17px;
            @media (max-width: 767px) {
                left: 12px;
                top: 42px;
                bottom: -5px;
            } 
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    .accordion {
        padding: 10px 50px;
        position: relative;
    }
    .panel {
        position: relative;
    }
    &__number {
        position: absolute;
        left: 0;
        top: 6px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        background: #224291;
        border-radius: 100%;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin-right: 24px;   
        @media (max-width: 767px) {
            width: 24px;
            height: 24px;
            font-size: 12px;
            top: 12px;
        } 
    }
    &__descr {
        margin-bottom: 52px;
    }
    a {
        text-decoration: underline;
        color: #3289F0;
    }
    &__item {
        padding-left: 50px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
           margin-bottom: 20px;
        } 
    }
}