.subheader {
    height: 193px;
    padding: 57px 0 42px 0;
    @media (max-width: 575px) {
        height: 110px;
        padding: 15px 0 15px 0;
    }
    &__title {
        font-weight: bold;
        font-size: 42px;
        margin-top: 30px;
        line-height: 44px;
        @media (max-width: 575px) {
            font-size: 27px;
            margin-top: 20px;
        }
    }
    &__origin {
        display: inline-block;
        font-size: 13px;
        &::after {
            content: '/'
        }
        a {
            color: #000;
        }
    }
    &__current {
        display: inline-block;
        font-size: 13px;
        color:#BCBCBC;
    }
    &__list {
        padding: 0;
        list-style-type: none; 
    }

}